<!--display_layout-->
<table>
	<tr><h1 align="center">Console Collection</h1>
		<th>Game Console Name</th>
		<!-- Can add additional attributes here if need be <th>Game Title</th> -->
		
	</tr>
	<tr>
		<%@game_consoles.each do |console| %>
		<td><a href="/game_consoles/<%=console.console_slug%>"><%=console.name%></td>
	<tr>
<%end%>
</table>




