<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>

<table>
	<tr>
		<th><%=@console.name%></th>
	
	</tr>
	<tr>
		<%@console.games.each do |game| %>
		<td><a href="/games/<%=game.title_slug%>"><%=game.title%></a></td>
		
		
	<tr>

				<br>
				
<%end%>
</table>

<br>
<%=Time.now%>

