
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>

<table>
	<tr>
		<th>Game Title</th>
		<th></th>
	</tr>
	<tr>
		<%@games.each do |game| %>

		<td><a href="/games/<%=game.title_slug%>"><%=game.title%></td>
			<%if current_player.id == game.player_id%>
		<td><a href="/games/<%=game.title_slug%>/edit">Edit</a></td>
		<%end%>
	<tr>

				<br>
				
<%end%>
</table>



<%=Time.now%>

