
<%@games.each do |game| %>

<li><%=game.name%></li>
<li><%=game.genre%></li>
<li><%=game.game_console%></li>
<br>
<br>
<%end%>

TESTING <%=Time.now%>

<div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
    <a href="/logout">LOGOUT</a>
  </div>