<form action="/players/signup" method="post">


<label for="player[username]">Username:</label>
<input type="text" name="player[username]" id="username" placeholder="username">

<input type="text" name="player[moniker]" id="Moniker" placeholder="Moniker">

<label for="name[password]">Password</label>
<input type="text" name="player[password]" id="password" placeholder="Password">


<input type="submit" value="Create User">
