
<form action="/signup" method="post">

<br><br>
<p><label for="player[email]">Email:</label>
<input type="text" name="player[email]" id="email" placeholder='Enter your Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Email Address'" /></p>

<p><label for="player[moniker]">Moniker:</label>
<input type="text" name="player[moniker]" id="Moniker" placeholder="Choose a Moniker" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Choose a Moniker'" /></p>

<p><label for="name[password]">Password:</label>
<input type="password" name="player[password]" id="password" minLength="8" required placeholder="8 characters minimum" /></p>

<p><label for="name[password_confirmation]">Confirm Password:</label>
<input type="password" name="player[password_confirmation]" id="password" minLength="8" required placeholder="Confirm Password"></p>

<h3 align="center" onMouseOver="this.style.color='#00F'"
   onMouseOut="this.style.color='#000'"><input type="submit" value="Create User"></h3>
