
<form action="/login" method="post">


<p align="center"><label for="player[moniker]">Moniker:</label>
<input type="text" name="player[moniker]" id="moniker" placeholder="Enter your Moniker"></p>


<p align="center"><label for="player[password]">Password:</label>
<input type="password" name="player[password]" id="password" placeholder="Enter your Password"></p>


<p></p>
<p align="center" onMouseOver="this.style.color='#0095FF'"
   onMouseOut="this.style.color='#000'"><input type="submit" value="Login"></p>

