
<form action="/login" method="post">


<p align="center"><label for="moniker">Moniker:</label>
<input type="text" name="moniker" id="moniker" placeholder="Enter your Moniker"></p>


<p align="center"><label for="password">Password:</label>
<input type="password" name="password" id="password" placeholder="Enter your Password"></p>


<p></p>
<p align="center" onMouseOver="this.style.color='#0095FF'"
   onMouseOut="this.style.color='#000'"><input type="submit" value="Login"></p>

