<!doctype html>
<html>
  <head>
    <title>Video Game Collection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
  </head>
  <body>
   <div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a href="/game_consoles">Console Index</a>
    <a href="/games">Game Index</a>
    <a href="/games/new">Create New Game</a>
    <a href="/logout">LOGOUT</a>
  </div>
</div>

  <%= yield %>

   <style>
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>

            <div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
               <a href="/logout">LOGOUT</a>
            </div> 

    
      
      <footer>
        <div style="position: absolute; bottom: 0; left: 0; width: 100px; text-align:right;">
          <a href="/games"><b>Games Index<b></a>
        </div>
        <div style="position: absolute; bottom: 0; right: 0; width: 100px; text-align:right;">
          <a href="/game_consoles">Game Consoles Index</a>
        </div>
      </footer> 
       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>