<!doctype html>
<html>
  <head>
    <title>Video Game Collection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
  </head>
  <body>

      <h1 align="center">Video Game Collection</h1>
            <div style="position: absolute; top: 0; left: 0; width: 100px; text-align:right;">
               <a href="/signup">Sign Up</a><br>
               <a href="/login">Login</a> 
            </div>  
            <div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
               <a href="/logout">LOGOUT</a>
            </div> 

      <%= yield %> 
      
      <footer>
        <div style="position: absolute; bottom: 0; left: 0; width: 100px; text-align:right;">
          <a href="/games"><b>Games Index<b></a>
        </div>
        <div style="position: absolute; bottom: 0; right: 0; width: 100px; text-align:right;">
          <a href="/game_consoles">Game Consoles Index</a>
        </div>
      </footer> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>