<!doctype html>
<html>
  <head>
    <title>Video Game Collection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
  </head>
  <body>

 <div class="container">
      <h1>Video Game Collection</h1>
      <!-- Maybe Error code between divs below -->
      <div 

      </div>
   
      <%= yield %> 
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>